@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);












body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Open Sans', sans-serif;
}
.mbr-author-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Open Sans', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #eb2341 !important;
}
.bg-success {
  background-color: #eb2341 !important;
}
.bg-info {
  background-color: #016db9 !important;
}
.bg-warning {
  background-color: #f39c12 !important;
}
.bg-danger {
  background-color: #e74c3c !important;
}
.btn-primary {
  background-color: #292929;
  border-color: #292929;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: rgba(101, 32, 198, 0);
  border-color: rgba(101, 32, 198, 0);
  border-color: #ffffff;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #292929 !important;
  border-color: #292929 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #016db9;
  border-color: #016db9;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #01406d;
  border-color: #01406d;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #01406d !important;
  border-color: #01406d !important;
}
.btn-success {
  background-color: #eb2341;
  border-color: #eb2341;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #292929;
  border-color: #292929;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #292929 !important;
  border-color: #292929 !important;
}
.btn-warning {
  background-color: #f39c12;
  border-color: #f39c12;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #b06f09;
  border-color: #b06f09;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #b06f09 !important;
  border-color: #b06f09 !important;
}
.btn-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #bf2718;
  border-color: #bf2718;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #bf2718 !important;
  border-color: #bf2718 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #678020;
  color: #678020;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #eb2341;
  border-color: #eb2341;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #eb2341 !important;
  border-color: #eb2341 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #003154;
  color: #003154;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #016db9;
  border-color: #016db9;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #016db9 !important;
  border-color: #016db9 !important;
}
.btn-success-outline {
  background: none;
  border-color: #678020;
  color: #678020;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #eb2341;
  border-color: #eb2341;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #eb2341 !important;
  border-color: #eb2341 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #976008;
  color: #976008;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f39c12;
  border-color: #f39c12;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f39c12 !important;
  border-color: #f39c12 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #a82315;
  color: #a82315;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
}
.text-primary {
  color: #eb2341 !important;
}
.text-success {
  color: #eb2341 !important;
}
.text-info {
  color: #016db9 !important;
}
.text-warning {
  color: #f39c12 !important;
}
.text-danger {
  color: #e74c3c !important;
}
.alert-success {
  background-color: #eb2341;
}
.alert-info {
  background-color: #016db9;
}
.alert-warning {
  background-color: #f39c12;
}
.alert-danger {
  background-color: #e74c3c;
}
.btn-social {
  border-color: #eb2341;
}
.btn-social:hover {
  background: #eb2341;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #eb2341;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #eb2341;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #eb2341;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #eb2341;
}
.lead a,
.lead a:hover {
  color: #eb2341;
}
.lead blockquote {
  border-color: #eb2341;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #eff6dc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #eff6dc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #3caefe;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fdedd4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdf3f2;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #eb2341;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-f .navbar-caption {
  color: #ffffff;
}
#menu-f .navbar-toggler {
  color: #ffffff;
}
#menu-f .close-icon::before,
#menu-f .close-icon::after {
  background-color: #ffffff;
}
#menu-f .link,
#menu-f .dropdown-item {
  color: #ffffff;
}
#menu-f .link {
  font-size: 0.75rem;
}
#menu-f .dropdown-item,
#menu-f .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-f .link:hover,
#menu-f .dropdown-item:hover,
#menu-f .link:focus,
#menu-f .dropdown-item:focus {
  color: #eb2341;
}
#menu-f .link[aria-expanded="true"],
#menu-f .dropdown-menu {
  background: #0e0e0e;
}
#menu-f .nav-dropdown-sm .link:focus,
#menu-f .nav-dropdown-sm .link:hover,
#menu-f .nav-dropdown-sm .dropdown-item:focus,
#menu-f .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-f .navbar,
#menu-f .nav-dropdown-sm,
#menu-f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-f .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-f .bg-color.transparent.opened .link:hover,
#menu-f .bg-color.transparent.opened .link:focus {
  color: #eb2341;
}
#menu-f .link[aria-expanded="true"],
#menu-f .dropdown-item[aria-expanded="true"] {
  color: #eb2341!important;
}
#header1-0 .mbr-section-lead {
  font-family: 'Open Sans', sans-serif;
}
#header1-0 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#header1-0 .btn {
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-4 H3 {
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-4 P {
  font-family: 'Open Sans', sans-serif;
}
#features7-5 .card-subtitle {
  color: #bcbcbc;
}
#features7-5 .iconbox {
  background-color: #eb2341;
  border-color: #eb2341;
}
#features7-5 H4 {
  font-family: 'Open Sans', sans-serif;
}
#features7-5 P {
  font-family: 'Open Sans', sans-serif;
}
#testimonials4-8 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#testimonials4-8 .card-footer > div {
  font-family: 'Open Sans', sans-serif;
}
