.List {
  margin-bottom: 0;
  &-title {
    font-size: 1em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 25px;
    color: $color14;
  }
  &-item {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
      border: 0;
    }
    &--border {
      padding-bottom: 20px;
      border-bottom: 1px solid $color13;
    }
  }
  &-content {
    position: relative;
  }
  &-icon {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 22px;
    display: block;
    font-size: 1.286em;
    text-align: left;
  }
  &-details {
    padding-left: 34px;
    padding-right: 105px;
    .List-link {
      font-size: 0.857em;
      color: $color15;
      &:hover {
        text-decoration: underline !important;
      }
    }
    .List-time {
      font-size: 0.857em;
      display: inline-block;
      &:before {
        content: '|';
        margin-right: 5px;
      }
    }
    &--block {
      padding-right: 0 !important;
    }
  }
  &-rating {
    text-align: right;
    width: 100px;
    height: 17px;
    margin: auto !important;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
  }
}
