.Loader {
    border: 16px solid $color11; /* Light grey */
    border-top: 16px solid $color40; /* Blue */ 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    &-blue{
    	border-top: 16px solid $color40;
    	border-bottom: 16px solid $color40;
    }
    &-green{
    	border-top: 16px solid $color30;
    	border-bottom: 16px solid $color30;
    }
    &-blueGreen{
    	border-top: 16px solid $color40; /* Blue */
    	border-bottom: 16px solid $color30; /*green*/
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}