.Testimonial {
  margin-bottom: 30px;
  overflow: hidden;
  &-figure {
    max-width: 150px;
    margin: 0 auto 25px;
    position: relative;
  }
  &-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &:before {
      color: rgba(233,38,24,.5);
      width: 34px;
      height: 41px;
      font-size: 3em;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    &:hover {
      &:before {
        color: rgba(233,38,24,1);
      }
    }
  }
  &-quote {
    padding: 0;
    border: 0;
    text-align: center;
  }
  &-text {
    font-family: Helvetica;
    font-size: 0.813em;
    line-height: 1.1em;
    font-style: italic;
  }
  &-cite {
    font-size: 0.688em;
    color: $color40;
    font-weight: 700;
    line-height: 1.1em;
    font-style: normal;
    span {
      display: block;
      font-weight: normal
    }
  }
}
