/**
 * PX to EM
 */
@function em($px, $base: $font-size-base) {
  @return ($px / $base) * 1em;
}

@mixin vertical-align($position: relative) {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

@mixin skew($side: right, $deg: -20deg, $right: -15px, $left: -15px, $width: 30px, $bg: #fff) {
    position: relative;
    &:before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;

        @if $side == right {
            right: $right;
        }
        @else if $side == left {
            left: $left;
        }

        display: block;
        width: $width;
        background: $bg;
        -webkit-transform: skew($deg);
            -ms-transform: skew($deg);
                transform: skew($deg);
    }
}

